/* Typography */
.jost-12 {
	font-size: 1rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .03em;
	line-height: 1.3;
}
.jost-15 {
	font-size: 1.25rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .03em;
	line-height: 1.3;
}
.jost-18 {
	font-size: 1.5rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .02em;
	line-height: 1.2;
}
.jost-21 {
	font-size: 1.75rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .02em;
	line-height: 1.2;
}
.jost-24 {
	font-size: 2rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.2;
}
.jost-27 {
	font-size: 2.25rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.2;
}
.jost-30 {
	font-size: 2.5rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.2;
}
.jost-36 {
	font-size: 3rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1.2;
}
.jost-45 {
	font-size: 3.75rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: .01em;
	line-height: 1;
}
.jost-54 {
	font-size: 4.5rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: -.02em;
	line-height: 1;
}
.jost-74 {
	font-size: 6.166rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: -.03em;
	line-height: .9;
}
.jost-210 {
	font-size: 17.5rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: -.05em;
	line-height: .85;
}
.leading-90 {line-height: .9;}
.leading-100 {line-height: 1;}
.leading-105 {line-height: 1.05;}
.leading-110 {line-height: 1.1;}
.leading-120 {line-height: 1.2;}
@media screen and (max-width: 800px) {
	.jost-12 {
		font-size: 1.2rem;
		letter-spacing: .03em;
	}
	.jost-15,
	.jost-18,
	.jost-21,
	.jost-24 {
		font-size: 1.6rem;
		letter-spacing: .01em;
	}
	.jost-27,
	.jost-30 {
		font-size: 2.2rem;
		letter-spacing: -.01em;
	}
	.jost-45,
	.jost-54,
	.jost-74 {
		font-size: 4.2rem;
		letter-spacing: -.02em;
	}
	.jost-210 {
		font-size: 24vw;
		letter-spacing: -.03em;
	}
	.mobile-jost-12 {
		font-size: 1.2rem;
		letter-spacing: .03em;
	}
	.mobile-jost-16 {
		font-size: 1.6rem;
		letter-spacing: .01em;
	}
	.mobile-jost-22 {
		font-size: 2.2rem;
		letter-spacing: -.01em;
	}
	.mobile-jost-27 {
		font-size: 2.7rem;
		letter-spacing: -.01em;
	}
	.mobile-jost-42 {
		font-size: 4.2rem;
		letter-spacing: -.02em;
	}
}
@media screen and (max-width: 500px) {
	.jost-45,
	.jost-54,
	.jost-74 {
		font-size: 4rem;
		letter-spacing: -.02em;
	}
	.mobile-jost-12 {
		font-size: 1.2rem;
		letter-spacing: .03em;
	}
	.mobile-jost-16 {
		font-size: 1.6rem;
		letter-spacing: .01em;
	}
	.mobile-jost-22 {
		font-size: 2.2rem;
		letter-spacing: -.01em;
	}
	.mobile-jost-27 {
		font-size: 2.7rem;
		letter-spacing: -.01em;
	}
	.mobile-jost-42 {
		font-size: 4rem;
		letter-spacing: -.02em;
	}
}
/* Reset */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
}
* {
	margin: 0;
}
:root{
	--gutter: 1rem;
	--margin: 1.5rem;
	--transition: cubic-bezier(.77,0,.175,1) 200ms;
	--white: #FFF;
	--black: #000;
	--gray: #E7E7E7;
	--darkGray: #999999;
	--liveHeight: calc((2.5rem + 1.25rem*1.3));

	--azure: #20B2E4;
	--orange: #F89B22;
	--yellow: #FCCD0D;
	--purple: #3E2C70;
	--red: #EE3923;
	--pink: #F16276;
	--cabaret: #C14969;
	
	--blue: #3f77bc;
	--sky: #78aed2;
	--navy: #355b8a;
	--teal: #0e7f93;
	--slate: #478a68;
	--green: #99c92f;
	--orange: #f89b22;
	--red: #c23b3f;
	--magenta: #b0216e;
}
html {
	-webkit-font-smoothing: antialiased;
	font-size: clamp(10px, .8vw, 13px);
	line-height: 1.2;
	color: var(--black);
	background-color: var(--lightGray);
	overscroll-behavior-x: none;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	overscroll-behavior-x: none;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	white-space: pre-line;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
	appearance: none;
}
input:focus {
	outline: none;
}
button {
	-webkit-appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
	text-transform: inherit;
}
#root, #__next {
	isolation: isolate;
}
a:-webkit-any-link {
	text-decoration: none;
}
a:-moz-any-link {
	text-decoration: none;
}
a:any-link {
	text-decoration: none;
}
a:-webkit-any-link:not(.btn):not(.project-link) {
	color: inherit;
	cursor: pointer;
}
a:-moz-any-link:not(.btn):not(.project-link) {
	color: inherit;
	cursor: pointer;
}
a:any-link:not(.btn):not(.project-link) {
	color: inherit;
	cursor: pointer;
}
a:-webkit-any-link.underline {
	text-decoration: underline;
}
a:-webkit-any-link.underline,
a:any-link.underline,
.underline {
	text-decoration: underline;
}
.uppercase {
	text-transform: uppercase;
}
.titlecase {
	text-transform: capitalize;
}
.tight {
	line-height: 1.05;
}
.bold {
	font-weight: 600;
}
.hidden {
	display: none !important;
}
.invisible {
	opacity: 0;
	pointer-events: none;
}
.mobile-only {
	display: none;
}
@media screen and (max-width: 800px) {
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: inherit;
	}
}

/* General */
.btn {
	font-size: 1.25rem;
	line-height: 1.3;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	letter-spacing: .03em;
	text-transform: uppercase;
	padding: 1em 2em;
	border-radius: 99em;
	background-color: var(--white);
	display: inline-block;
	color: var(--black);
}
.btn.outline {
	color: var(--white);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(.5em);
	-webkit-backdrop-filter: blur(.5em);
}
.btn:hover, .btn.active {
	color: var(--white);
	background-color: var(--black);
}
.tag {
	font-size: 1rem;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	padding: .5em 1em;
	background-color: var(--white);
	display: inline-block;
	letter-spacing: .03em;
	box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
}
.tag.upcoming {
	background-color: var(--teal);
	color: var(--white);
}
.tag.ongoing {
	background-color: var(--sky);
	color: var(--white);
}
.tag.price {
	background-color: var(--magenta);
	color: var(--white);
}
a.tag:hover {
	background-color: var(--gray);
}
.hover-black:hover {
	background-color: var(--black) !important;
	color: var(--white);
}
.portrait {
	border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.cover {
	background-color: var(--gray);
	width: 100%;
}
.rounded {
	border-radius: .6rem;
}
.shadow {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
._1-1 {
	aspect-ratio: 1;
}
._16-9 {
	aspect-ratio: 16/9;
}
._21-9 {
	aspect-ratio: 21/9;
}
._5-7 {
	aspect-ratio: 5/7;
}
.bg-gray	{ background-color: var(--gray); }
.bg-white	{ background-color: var(--white); }
.bg-black	{ background-color: var(--black); }
.text-gray	{ color: var(--gray); fill: var(--gray); }
.text-white	{ color: var(--white); fill: var(--white); }
.text-black	{ color: var(--black); fill: var(--black); }
.border-gray	{ border: solid 1px var(--gray); }
.border-white	{ border: solid 1px var(--white); }
.border-black	{ border: solid 1px var(--black); }
.noScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.noScrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.hover-gray:hover {
	color: var(--darkGray) !important;
}
.subtitle {
	margin-top: 1rem;
}
@media screen and (max-width: 800px) {
	.btn {
		font-size: 1.2rem;
	}
	.mobile-w-100 {
		width: stretch;
	}
}